html, body {
    font: 12px Arial, "微软雅黑";
    color: #666;
}

a {
    text-decoration: none;
}

a:visited {
    color: #333
}

img {    
    /* transition: all 0.36s ease; */
    display: inline;
    max-width: 100%;
}


ul, ol {
    list-style: none;
}

.title {
    font-size: 36px;
    color: #333;
    margin-right: 10px;
}

.subtitle {
    font-size: 14px;
    color: #bbb;
    line-height: 26px;
}

.small-title {
    font-size: 20px;
}

/* .p {
    display: inline;
} */

.header {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
    height: 100px;
    /* background-color: aquamarine; */
}

.header-content {
    width: 1200px;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 347px;
    overflow: hidden;
}

.menus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menus li {
    padding: 0 18px;
    border-right: 2px solid #eaeaea;
    position: relative;
    z-index: 10;
    cursor: pointer;
    color: #333;
    font-size: 18px;
}


.menus .active {
    background: #fdcd00;
}

#last-li {
    border-right: none;
}

.main {
	width: 1200px;
    margin: 0 auto;
    border: 1px solid pink;
}


.footer-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.footer {
    width: 100%;
    background: #fff;
    padding: 0 0 55px;
    font-weight: 300;
    /* background-color: bisque; */
}
